.footer-menu-name {
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    line-height: 18px;
    text-shadow: #000 2px 2px 1px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
  }

