
/* ===========start info=========== */

  .info-int-color {
    background-color: rgb(237, 249, 255);
    height: 170px;
    margin-top: -100px;
  }
 
  
  /* ===========end info=========== */

 .NewsPage .info-int .TitelSection{
    margin-top: 10%;
    padding-top: 30px;
  }

  /* --------------------------- */
  .NewsPage{
    margin-top: 50px;
  }